<table style="width:70%">
	<td>
		<h1><%="Welcome, #{@current_user.display_first_with_link}!" if logged_in?%></h1>
		<h2><%="#{@user.full_name}#{@user.has_s?} Profile"%></h2>
		<%=@user.add_friend(@current_user.id) if logged_in?%>
		<%=@user.add_status(@current_user.id) if logged_in?%>
		<%=@user.user_statuses(@current_user.id)%>
		<a href='/'>Return to home page</a><br>
		<%=log_out%>
	</td>
	<td>
		<h2>Friends</h2>
		<%=Friend.all_friends(@user.id)%>
		<h2>People you might know</h2>
		<%=User.all_users(@current_user.full_name)%>
	</td>
</table>
